* {
  margin: 0;
  object-fit: contain;
}
.App {
  background-color: rgb(255, 252, 252);
  height: 300vh;
  width: auto;
}

.app_headerImage {
  height: 30px;
  width: 80px;
}
.app_header {
  background-color: rgb(252, 247, 247);
  padding: 20px;
  border-bottom: 1px solid rgb(177, 165, 165);
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
