* {
  margin: 0;
  /* object-fit: contain; */
}
.App {
  background-color: rgb(255, 252, 252);
  height: auto;
  width: auto;
}

.app_headerImage {
  height: 30px;
  width: 80px;
}
.app_header {
  background-color: rgb(252, 247, 247);
  padding: 20px;
  border-bottom: 1px solid rgb(177, 165, 165);
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.heading1 {
  margin-left: 20px;
  background-color: honeydew;
  height: 30px;
  width: 200px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid blueviolet;
}
